[user]
  name = Rimenes Ribeiro
  email = eu@rimenes.net
[core]
  editor = subl -n -w
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[github]
  user = rimenes
[help]
  format = web
[difftool]
  prompt = false
[diff]
  tool = vimdiff
  algorithm = patience
[rebase]
  stat = true
  autostash = true
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  unstage = reset HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset - %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
  default = current
[pull]
  rebase = true
